<style>
    /* Change the background-image below to an image that suits you: 
            a. This site is a great place to find high quality pics: https://unsplash.com
            b. Right click the image you want, and select "Copy Image Address" 
            c. Replace the background-image: url('INSERT LINK HERE') 
            Want to know more about background images? 
            Go to: https://www.w3schools.com/cssref/pr_background-image.asp */
  body {
    background-image: url(/images/xandobackground.png);
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    background-size: cover;
    background-repeat: no-repeat;
  }

</style> 

<h1>Tic Tac Toe</h1>

<h4>{{ announcement }}</h4>

<table>
  <tr>
    <td><a class="cell no-link-hover" href="/games/tictactoe/vs/0/0">{{ board.[0].[0] }}</a></td>
    <td class="vert"><a class="cell no-link-hover" href="/games/tictactoe/vs/1/0">{{ board.[0].[1] }}</a></td>
    <td><a class="cell no-link-hover" href="/games/tictactoe/vs/2/0">{{ board.[0].[2] }}</a></td>
  </tr>
  <tr>
    <td class="hori"><a class="cell no-link-hover" href="/games/tictactoe/vs/0/1">{{ board.[1].[0] }}</a></td>
    <td class="vert hori"><a class="cell no-link-hover" href="/games/tictactoe/vs/1/1">{{ board.[1].[1] }}</a></td>
    <td class="hori"><a class="cell no-link-hover" href="/games/tictactoe/vs/2/1">{{ board.[1].[2] }}</a></td>
  </tr>
  <tr>
    <td><a class="cell no-link-hover" href="/games/tictactoe/vs/0/2">{{ board.[2].[0] }}</a></td>
    <td class="vert"><a class="cell no-link-hover" href="/games/tictactoe/vs/1/2">{{ board.[2].[1] }}</a></td>
    <td><a class="cell no-link-hover" href="/games/tictactoe/vs/2/2">{{ board.[2].[2] }}</a></td>
  </tr>
</table>

<div class="col-12 text-center">
	<a class="btn btn-primary" href="/games/tictactoe"> Start Over? </a>
</div>